USE [finance]
GO
/****** Object:  Table [dbo].[Finance_data]    Script Date: 6/5/2026 4:04:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Finance_data](
	[gender] [nvarchar](50) NOT NULL,
	[age] [tinyint] NOT NULL,
	[Investment_Avenues] [bit] NOT NULL,
	[Mutual_Funds] [tinyint] NOT NULL,
	[Equity_Market] [tinyint] NOT NULL,
	[Debentures] [tinyint] NOT NULL,
	[Government_Bonds] [tinyint] NOT NULL,
	[Fixed_Deposits] [tinyint] NOT NULL,
	[PPF] [tinyint] NOT NULL,
	[Gold] [tinyint] NOT NULL,
	[Stock_Marktet] [bit] NOT NULL,
	[Factor] [nvarchar](50) NOT NULL,
	[Objective] [nvarchar](50) NOT NULL,
	[Purpose] [nvarchar](50) NOT NULL,
	[Duration] [nvarchar](50) NOT NULL,
	[Invest_Monitor] [nvarchar](50) NOT NULL,
	[Expect] [nvarchar](50) NOT NULL,
	[Avenue] [nvarchar](50) NOT NULL,
	[What_are_your_savings_objectives] [nvarchar](50) NOT NULL,
	[Reason_Equity] [nvarchar](50) NOT NULL,
	[Reason_Mutual] [nvarchar](50) NOT NULL,
	[Reason_Bonds] [nvarchar](50) NOT NULL,
	[Reason_FD] [nvarchar](50) NOT NULL,
	[Source] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Original_data]    Script Date: 6/5/2026 4:04:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Original_data](
	[GENDER] [nvarchar](50) NOT NULL,
	[AGE] [tinyint] NOT NULL,
	[Do_you_invest_in_Investment_Avenues] [bit] NOT NULL,
	[What_do_you_think_are_the_best_options_for_investing_your_money_Rank_in_order_of_preference_Mutual_Funds] [tinyint] NOT NULL,
	[What_do_you_think_are_the_best_options_for_investing_your_money_Rank_in_order_of_preference_Equity_Market] [tinyint] NOT NULL,
	[What_do_you_think_are_the_best_options_for_investing_your_money_Rank_in_order_of_preference_Debentures] [tinyint] NOT NULL,
	[What_do_you_think_are_the_best_options_for_investing_your_money_Rank_in_order_of_preference_Government_Bonds] [tinyint] NOT NULL,
	[What_do_you_think_are_the_best_options_for_investing_your_money_Rank_in_order_of_preference_Fixed_Deposits] [tinyint] NOT NULL,
	[What_do_you_think_are_the_best_options_for_investing_your_money_Rank_in_order_of_preference_Public_Provident_Fund] [tinyint] NOT NULL,
	[What_do_you_think_are_the_best_options_for_investing_your_money_Rank_in_order_of_preference_Gold] [tinyint] NOT NULL,
	[Do_you_invest_in_Stock_Market] [bit] NOT NULL,
	[What_are_the_factors_considered_by_you_while_investing_in_any_instrument] [nvarchar](50) NOT NULL,
	[What_is_your_investment_objective] [nvarchar](50) NOT NULL,
	[What_is_your_purpose_behind_investment] [nvarchar](50) NOT NULL,
	[How_long_do_you_prefer_to_keep_your_money_in_any_investment_instrument] [nvarchar](50) NOT NULL,
	[How_often_do_you_monitor_your_investment] [nvarchar](50) NOT NULL,
	[How_much_return_do_you_expect_from_any_investment_instrument] [nvarchar](50) NOT NULL,
	[Which_investment_avenue_do_you_mostly_invest_in] [nvarchar](50) NOT NULL,
	[What_are_your_savings_objectives] [nvarchar](50) NOT NULL,
	[Reasons_for_investing_in_Equity_Market] [nvarchar](50) NOT NULL,
	[Reasons_for_investing_in_Mutual_Funds] [nvarchar](50) NOT NULL,
	[Reasons_for_investing_in_Government_Bonds] [nvarchar](50) NOT NULL,
	[Reasons_for_investing_in_Fixed_Deposits] [nvarchar](50) NOT NULL,
	[Your_sources_of_information_for_investments_is] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
